# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [34]:
import pandas as pd 
import numpy as np
import datetime as dt
import pandas_datareader.data as web
from pandas_datareader import data, wb
import datetime

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [40]:
start_date = datetime.datetime(2015, 1, 1)
end_date = datetime.datetime.now()
start_date

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [41]:
api_key = '6GKSY5M170VVLT59'
df_apple = web.DataReader(
    'AAPL', 'av-daily', start_date, end_date, api_key=api_key)

# Print the DataFrame
print(df_apple)

               open    high      low   close    volume
2015-01-02  111.390  111.44  107.350  109.33  53204626
2015-01-05  108.290  108.65  105.410  106.25  64285491
2015-01-06  106.540  107.43  104.630  106.26  65797116
2015-01-07  107.200  108.20  106.695  107.75  40105934
2015-01-08  109.230  112.15  108.700  111.89  59364547
...             ...     ...      ...     ...       ...
2024-03-25  170.565  171.94  169.450  170.85  54288328
2024-03-26  170.000  171.42  169.580  169.71  57388449
2024-03-27  170.410  173.60  170.110  173.31  60273265
2024-03-28  171.750  172.23  170.510  171.48  65672690
2024-04-01  171.000  171.23  169.480  170.03  45346268

[2326 rows x 5 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [42]:
df_apple['stock'] = 'AAPL'
df_apple

               open    high      low   close    volume stock
2015-01-02  111.390  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.290  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.540  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.200  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.230  112.15  108.700  111.89  59364547  AAPL
...             ...     ...      ...     ...       ...   ...
2024-03-25  170.565  171.94  169.450  170.85  54288328  AAPL
2024-03-26  170.000  171.42  169.580  169.71  57388449  AAPL
2024-03-27  170.410  173.60  170.110  173.31  60273265  AAPL
2024-03-28  171.750  172.23  170.510  171.48  65672690  AAPL
2024-04-01  171.000  171.23  169.480  170.03  45346268  AAPL

[2326 rows x 6 columns]

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [43]:
def fetch_stock_data(ticker):
    df = web.DataReader(ticker, 'av-daily', start_date,
                        end_date, api_key=api_key)
    df['stock'] = ticker  
    return df

df_tesla = fetch_stock_data('TSLA')

df_ibm = fetch_stock_data('IBM')

df_microsoft = fetch_stock_data('MSFT')
print("Tesla (TSLA):\n", df_tesla)
print("\nIBM:\n", df_ibm)
print("\nMicrosoft (MSFT):\n", df_microsoft)

Tesla (TSLA):
               open      high       low    close     volume stock
2015-01-02  222.87  223.2500  213.2600  219.310    4764443  TSLA
2015-01-05  214.55  216.5000  207.1626  210.090    5368477  TSLA
2015-01-06  210.06  214.2000  204.2100  211.280    6261936  TSLA
2015-01-07  213.35  214.7800  209.7800  210.950    2968390  TSLA
2015-01-08  212.81  213.7999  210.0100  210.615    3442509  TSLA
...            ...       ...       ...      ...        ...   ...
2024-03-25  168.76  175.2400  168.7300  172.630   74228615  TSLA
2024-03-26  178.58  184.2500  177.3800  177.670  113186227  TSLA
2024-03-27  181.41  181.9100  176.0000  179.830   81804043  TSLA
2024-03-28  177.45  179.5700  175.3000  175.790   77654838  TSLA
2024-04-01  176.20  176.7500  170.2100  175.220   81180793  TSLA

[2326 rows x 6 columns]

IBM:
               open      high     low   close   volume stock
2015-01-02  161.31  163.3100  161.00  162.06  5525341   IBM
2015-01-05  161.27  161.2700  159.19  159.51  4880389   IBM
2015-01-06  159.67  159.9600  155.17  156.07  6145670   IBM
2015-01-07  157.20  157.2000  154.03  155.05  4701015   IBM
2015-01-08  156.24  159.0440  155.55  158.42  4240585   IBM
...            ...       ...     ...     ...      ...   ...
2024-03-25  190.26  190.8200  188.75  188.79  3718289   IBM
2024-03-26  189.02  190.0000  188.50  188.50  4229535   IBM
2024-03-27  189.60  190.9600  188.60  190.80  3693305   IBM
2024-03-28  190.94  191.9299  190.34  190.96  3742169   IBM
2024-04-01  190.01  190.4600  188.55  189.81  2363216   IBM

[2326 rows x 6 columns]

Microsoft (MSFT):
               open      high     low    close    volume stock
2015-01-02   46.66   47.4200   46.54   46.760  27913852  MSFT
2015-01-05   46.37   46.7300   46.25   46.325  39673865  MSFT
2015-01-06   46.38   46.7490   45.54   45.650  36447854  MSFT
2015-01-07   45.98   46.4600   45.49   46.230  29114061  MSFT
2015-01-08   46.75   47.7499   46.72   47.590  29645202  MSFT
...            ...       ...     ...      ...       ...   ...
2024-03-25  425.24  427.4100  421.61  422.860  18060450  MSFT
2024-03-26  425.61  425.9900  421.35  421.650  16725647  MSFT
2024-03-27  424.44  424.4500  419.01  421.430  16704978  MSFT
2024-03-28  420.96  421.8700  419.12  420.720  21871161  MSFT
2024-04-01  423.91  427.8900  422.22  424.570  16295153  MSFT

[2326 rows x 6 columns]

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [44]:
df = pd.concat([df_apple, df_tesla, df_ibm, df_microsoft])

df.reset_index(inplace=True)
df

           index    open    high      low   close    volume stock
0     2015-01-02  111.39  111.44  107.350  109.33  53204626  AAPL
1     2015-01-05  108.29  108.65  105.410  106.25  64285491  AAPL
2     2015-01-06  106.54  107.43  104.630  106.26  65797116  AAPL
3     2015-01-07  107.20  108.20  106.695  107.75  40105934  AAPL
4     2015-01-08  109.23  112.15  108.700  111.89  59364547  AAPL
...          ...     ...     ...      ...     ...       ...   ...
9299  2024-03-25  425.24  427.41  421.610  422.86  18060450  MSFT
9300  2024-03-26  425.61  425.99  421.350  421.65  16725647  MSFT
9301  2024-03-27  424.44  424.45  419.010  421.43  16704978  MSFT
9302  2024-03-28  420.96  421.87  419.120  420.72  21871161  MSFT
9303  2024-04-01  423.91  427.89  422.220  424.57  16295153  MSFT

[9304 rows x 7 columns]

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [58]:
print(df.columns)

# Assuming 'index' represents the date, you can set it as the index
df.set_index('index', inplace=True)

# Print the DataFrame to verify the changes
print(df)

Index(['index', 'open', 'high', 'low', 'close', 'volume'], dtype='object')
              open    high      low   close    volume
index
2015-01-02  111.39  111.44  107.350  109.33  53204626
2015-01-05  108.29  108.65  105.410  106.25  64285491
2015-01-06  106.54  107.43  104.630  106.26  65797116
2015-01-07  107.20  108.20  106.695  107.75  40105934
2015-01-08  109.23  112.15  108.700  111.89  59364547
...            ...     ...      ...     ...       ...
2024-03-25  425.24  427.41  421.610  422.86  18060450
2024-03-26  425.61  425.99  421.350  421.65  16725647
2024-03-27  424.44  424.45  419.010  421.43  16704978
2024-03-28  420.96  421.87  419.120  420.72  21871161
2024-04-01  423.91  427.89  422.220  424.57  16295153

[9304 rows x 5 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [59]:
vol = df['volume']
vol.head()

index
2015-01-02    53204626
2015-01-05    64285491
2015-01-06    65797116
2015-01-07    40105934
2015-01-08    59364547
Name: volume, dtype: int64

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [60]:
df.index = pd.to_datetime(df.index)

vol_weekly = df.groupby([df.index.year, df.index.week]).sum()

print(vol_weekly)

                 open       high        low    close      volume
index index
2015  1       542.230   545.4200   528.1500   537.46    91408262
      2      2629.510  2652.2628  2583.8576  2614.90   488527205
      3      2541.000  2575.7399  2504.6610  2537.56   515385976
      4      2022.740  2058.2516  2001.7800  2041.98   383535971
      5      2583.555  2617.3445  2544.9349  2577.95   952276986
...               ...        ...        ...      ...         ...
2024  10     4785.090  4832.7240  4715.4800  4762.16  1075517727
      11     4763.190  4816.5426  4705.2351  4760.84  1025183824
      12     4807.570  4852.8756  4760.4300  4820.35   900392278
      13     3844.995  3873.5899  3814.3400  3836.98   673241989
      14      961.120   966.3300   950.4600   959.63   145185430

[484 rows x 5 columns]

C:\Users\Compu City\AppData\Local\Temp\ipykernel_7628\2861660685.py:4: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  vol_weekly = df.groupby([df.index.year, df.index.week]).sum()

### Step 9. Find all the volume traded in the year of 2015

In [61]:
# Assuming 'index' represents the date and 'volume' represents the volume data
# First, ensure that 'index' is in datetime format
df.index = pd.to_datetime(df.index)

# Filter the DataFrame to include only the data from the year 2015
vol_2015 = df[df.index.year == 2015]

# Then, sum the volume for the entire year
total_volume_2015 = vol_2015['volume'].sum()

# Print the total volume traded in the year of 2015
print("Total volume traded in 2015:", total_volume_2015)

Total volume traded in 2015: 24314152987